<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
                <div class="card-body">
                    <form (ngForm)="examForm" autocomplete="off">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmail" type="text" placeholder="" #name name="name" [(ngModel)]="examForm.name" required/>
                            <label for="inputEmail">Name</label>
                           
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" #email name="email" [(ngModel)]="examForm.email" required/>
                            <label for="inputEmail">Email address</label>
                           
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputPassword" type="password" placeholder="Password" #password name="password" [(ngModel)]="examForm.password"required/>
                            <label for="inputPassword">Password</label>
                            
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>