<!-- banner-text -->
<main id="main" class="main">
<!-- banner -->
<div class="banner" id="home">
    <!-- header -->
    <header>
        <div class="container">

        <!-- navigation -->
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>				   -->
            <div class="w3-logo">
                <h1><a href="index.html">Educative</a></h1>
                <label></label>
            </div>
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exam<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a routerLink="/admin/quiz-question">after 12th</a></li>
                        <li><a routerLink="/admin/quiz-result">after graduation</a></li>
                      <li><a routerLink="/admin/view-user">after master</a></li>
                    </ul>
                   </li>
                  <li><a routerLink="/admin/notes">notes</a></li>
                  <li><a routerLink="/admin/quiz">quiz</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a routerLink="/admin/quiz-question">quiz-question</a></li>
                    
                        <li><a routerLink="/admin/quiz-result">quiz-result</a></li>
                
                      <!-- <li><a routerLink="/admin/view-user">view-user</a></li> -->
                    </ul>
                  </li>
                  <li><a routerLink="/admin/notes">view user</a></li>

      
                </ul>
             <div class="subscribe">
                <form>
                    <input type="search" class="sub-email" name="Search" required="">
                    <input type="submit"  value="">
                </form>
            </div>
            </div><!-- /.navbar-collapse -->
             
        </nav>
        <div class="clearfix"></div>
    <!-- //navigation -->
        </div>
    </header>
<!-- //header -->
<!-- banner-text -->
    <div class="banner-text"> 
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-info">
                        <h3>Education with technologies</h3>
                        <h4> Successful career starts with good education</h4>
                    
                    </div>
                </li>
               

            </ul>
            
        </div>
        <div class="clearfix"></div>	
    </div>
</div>
<!-- //banner -->

<!-- Footer -->

        <div class="copyright-wthree">
            <p>&copy; 2022 Educative . All Rights Reserved | Design by || Palvi Sagar </p>
        </div>
<!-- //Footer -->
</main>
<!-- //gallery -->