<!-- banner-text -->
<main id="main" class="main">
<!-- banner -->
<div class="banner" id="home">
    <!-- header -->
  
<!-- //header -->
<!-- banner-text -->
    <div class="banner-text"> 
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-info">
                        <h3>Education with technologies</h3>
                        <h4> Successful career starts with good education</h4>
                    
                    </div>
                </li>
               

            </ul>
            
        </div>
        <div class="clearfix"></div>	
    </div>
</div>
<!-- //banner -->

<!-- Footer -->

<!-- //Footer -->
</main>
<!-- //gallery -->