<!-- header -->
<header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="row">
          <div class="col-md-2">
            <div class="w3-logo">
              <h1><a href="index.html">Educative</a></h1>
              <label></label>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-md-10">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto ">
                
                <li class="nav-item">
                  <a class="nav-link text-light" href="/user/viewcategory"><b>View_Catagory</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/user/viewnotes"><b>View_Notes</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/user/viewquiz"><b>View_Quiz</b></a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link text-light"href="/user/quiztest"><b>Quiz_Test</b></a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link text-light" href="/user/viewresult"><b>View_result</b></a>
                </li>
                
                <li class="nav-item">
                  <div class="subscribe">
                    <form>
                        <input type="search" class="sub-email" name="Search" required="">
                        <input type="submit"  value="">
                    </form>
                </div>
                </li>
              </ul>
            </div>  

          </div>
        </div>
      </nav>
       
        </div>
         
    
    <div class="clearfix"></div>
<!-- //navigation -->
    
</header>
<!-- //header -->
