<section class=" hero-wrap-2">
    <div class="container" >
         <h2 class=" text-white text-center pt-4"><b>Quiz_Test</b></h2>
            <form >
                <div class="row mt-4">
                    <div class="col-md-4 text-white text-center">
                    <label for="inputtext">Quiz_Category</label>
    
                    </div>
                    <div class="col-md-5">
    
                    <input class="form-control" id="quiz_name" type="text" placeholder="" #name name="quiz_name"  required/>
                   </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 text-white text-center">
                    <label for="inputtext">Quiz_Topic</label>
    
                    </div>
                    <div class="col-md-5 px-5">
    
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Apttituted</a>
                              <a class="dropdown-item" href="#"></a>
                              <a class="dropdown-item" href="#"></a>
                            </div>
                          </div>
                   </div>
                </div>
               
                <div class=" row d-flex align-items-center justify-content-between mt-4 mb-2">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button class="btn btn-primary">Start Test</button>
                    </div>
                </div>
            </form> 
    </div>    
</section>