<section class="hero-wrap">

    <div clas="container" >
            <h2 class="text-white text-center pt-5 "><b>Add_Quiz</b></h2>
            <form (ngForm)="quizForm" autocomplete="off" style="margin:20px;">
                <div class="row">
                    <div class="col-md-4 text-white text-center">
                      <label for="inputtext">Quiz_category</label>
                    </div>
                    <div class="col-md-4 ">
                      <input class="form-control" id="inputEmail" type="text" placeholder="" #name name="quiz_category"  required/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4 text-white text-center">
                       <label for="inputtext">Quiz_Topic</label>
                    </div>   
                    <div class="col-md-4">
                        <input class="form-control" id="inputEmail" type="text" placeholder="" #name name="quiz_topic"  required/>
                    </div>
                </div>
               
                <div class=" row d-flex align-items-center justify-content-between mt-4 mb-0">
                   <div class="col-md-4"></div> 
                   <div class=col-md-6>
                        <button class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
    
</div>    
</section>