<section class=" hero-wrap-2">
    <div class="container" >
         <h2 class=" text-white text-center pt-4"><b>View_Result</b></h2>
            <form >
                <div class="row mt-4">
                    <div class="col-md-4 text-white text-center">
                    <label for="inputtext">Quiz_type</label>
    
                    </div>
                    <div class="col-md-5">
    
                    <input class="form-control" id="inputEmail" type="text" placeholder="" #name name="add_category"  required/>
                   </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 text-white text-center">
                    <label for="inputtext">View_Score</label>
    
                    </div>
                    <div class="col-md-5">
    
                    <input class="form-control" id="inputEmail" type="text" placeholder="" #name name="add_category"  required/>
                   </div>
                </div>
               
                <div class=" row d-flex align-items-center justify-content-between mt-4 mb-2">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button class="btn btn-primary">submit</button>
                    </div>
                </div>
            </form> 
    </div>    
</section>