<section class="hero-wrap">

    <div clas="container">
        <div class="category">
            <h2 class="text-white text-center pt-5"><strong>View_user</strong></h2>
            <form (ngForm)="userForm" autocomplete="off" style="margin:20px;">
                <div class="row mb-3">
                    <div class="col-md-4 text-white text-center">
                        <label for="inputtext">User_name</label>   
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="inputName" type="text" placeholder="" #name name="quiz_category" required/>
                    </div>

                   
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 text-white text-center">
                        <label for="inputtext">Email</label>

                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="inputEmail" type="text" placeholder="" #name name="quiz_topic" required/>
                    </div>

                   
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 text-white text-center">
                         <label for="inputtext">Password</label>
                    </div>
                    <div class="col-md-4">
                         <input class="form-control" id="inputPassword" type="text" placeholder="" #name name="quiz_category"  required/>
                   </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 text-white text-center">
                         <label for="inputtext">Exam</label>
                    </div>
                    <div class="col-md-4">
                         <input class="form-control" id="inputExam" type="text" placeholder="" #name name="quiz_topic"  required/>
                    </div>
                </div>
                
                <div class=" row d-flex align-items-center justify-content-between mt-4 mb-0">
                    <div class="col-md-4"></div> 
                    <div class=col-md-6>
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            
            </form>
        </div>
    </div>
</section>