<section class="w3l-forms-23" id="admin">
    <div class="forms23-block-hny">
        <div class="wrapper">
            <h1 class=" text-center ">Admin Login</h1>
            <!-- if logo is image enable this   
                <a class="logo" href="index.html">
                <img src="/src/assets/images/login.jpg" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> 
            -->
            <div class="d-grid forms23-grids">
                <div class="form23">
                    <div class="main-bg">
                        <h6 class="sec-one"></h6>
                        <div class="speci-login first-look">
                            <img src="/src/assets/images/login.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="bottom-content">
                        <form action="#" method="post">
                            <label>Email</label>
                            <input type="email" name="email" class="input-form" placeholder="Your Email"
                                    required="required" />
                            <label>Password</label>

                            <input type="password" name="password" class="input-form"
                                    placeholder="Your Password" required="required" />
                            <button type="submit" class="loginhny-btn btn">Login</button>
                        </form>
                        <p>Not a member yet? <a routerLink="/register">Join Now!</a></p>
                    </div>
                </div>
            </div>
            <div class="w3l-copy-right text-center">
                <p>© 2022 Admin Login Form. All rights reserved | Design by|| Palvi Sagar</p>
            </div>
        </div>
    </div>
</section>