<!-- header -->
<header>
    <div class="container">

    <!-- navigation -->
    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>				  
        <div class="w3-logo">
            <h1><a href="index.html">Educative</a></h1>
            <label></label>
        </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a routerLink="/layout/category">Category</a></li>
            <li><a href="about.html">notes</a></li>
            <li><a href="gallery.html">Quiz</a></li>
            <li><a href="gallery.html">Quiz_question</a></li>
            <li><a href="gallery.html">Quiz_result</a></li>
            <li><a href="gallery.html">view_user</a></li>
          </ul>
         <!-- <div class="subscribe">
            <form>
                <input type="search" class="sub-email" name="Search" required="">
                <input type="submit"  value="">
            </form>
        </div> -->
        </div><!-- /.navbar-collapse -->
         
    </nav>
    <div class="clearfix"></div>
<!-- //navigation -->
    </div>
</header>
<!-- //header -->
