<main>
    
    <div class="container-fluid px-4">
        <h1 class="mt-4">Manage User</h1>
        <div class="card mb-4">
            <div class="card-body">

                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr> 
                    <tr *ngFor="let user of userdata;let i=index">
                        <td>{{ i }}</td>
                        <td>{{ user['name'] }}</td>
                        <td>{{ user['email'] }}</td>
                        <td>
                            <a [routerLink]="['/layout/edit_user/',user['id']]"> <i class="fa fa-edit"></i></a>
                         </td>
                         <td>
                            <span (click)="deleteuser(user['id'])"><i class="fa fa-trash text-danger"></i></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</main>

