<!--sign-up-section-->
<div class="signup" id="signup">
    <div class="container">
    <div class="head-top-w3ls"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
        <h5 class="title-w3">Play, Explore and Learn.</h5>
        <p>Find out how to get involved in programs of students include world-class curriculum and knowledgeable child development professionals that meet the needs of children at every age and stage.</p>
        <div class="button2">
        <h5><a href="#" data-toggle="modal" data-target="#myModal2">Admission Now</a></h5>
            </div>
        </div>
        <!-- Modal1 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <!-- Modal content-->
                <div class="modal-content abt-w3l">
                        <div class="modal-header">
                            <button type="button" class="close clo1" data-dismiss="modal">&times;</button>
                                <h4>Register</h4>
                                <form action="#" method="post" class="mod2">
                                    <ul>
                                        <li class="text">Name :</li>
                                        <li class="agileits-main"><input name="name" type="text" required></li>
                                    </ul>
                                    <ul>
                                        <li class="text">Gender  :  </li>
                                        <li class="agileits-main"><input name="Gender" type="text" required></li>
                                    </ul>
                                    <ul>
                                        <li class="text">Father Name  :  </li>
                                        <li class="agileits-main"><input name="Father name" type="text" required></li>
                                    </ul>
                                    <ul>
                                        <li class="text">mobile no  :  </li>
                                        <li class="agileits-main"><input name="mobile" type="text" required></li>
                                    </ul>
                                    <ul>
                                        <li class="text">Email :  </li>
                                        <li class="agileits-main"><input name="E-mail" type="email" required></li>
                                    </ul>
                                    <ul>
                                        <li class="text">Password  :  </li>
                                        <li class="agileits-main"><input name="Password" type="password" required></li>
                                    </ul>
                                    <ul>
                                        <li class="text">Confirm Password  :  </li>
                                        <li class="agileits-main"><input name="Confirm Password" type="password" required></li>
                                    </ul>
                                    <div class="clear"></div>
                                    <div class="agile-submit">
                                        <input type="submit" value="submit">
                                    </div>
                                </form>

                        </div>
                    </div>
                </div>
             </div>
            <!-- //Modal1 -->
</div>
<!--//sign-up-section-->